.navbar{
  background-color: #1e293b;
}
ul li{
    margin-right: 20px;
}
.navbar-toggler{
    background-color: #fff !important;
}
.navbar ul li a{
    color: #ffffffb8;
    text-decoration: none;
    font-weight: 500;
}
.navbar ul li a:active{
    color: #fff !important;
}
.nav-link:focus{
    color: #fff !important;
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
    
}
.navbar ul li a:hover{
    color: #fff;
}

.btnLogin{
    padding: 0 10px;
    background-color: transparent;
    color: #ffffffb8;
    height: 35px;
    border: 1px solid #ffffffb8;
    border-radius: 10px;
}
.btnLogin:hover{
    color: #fff;
    border: 1px solid #fff;
}