.catalog-wrapper {
  padding: 40px 20px;
  max-width: 900px;
  margin: auto;
  background-color: #f8fafc;
  font-family: 'Segoe UI', sans-serif;
}

.catalog-wrapper h1 {
  font-size: 28px;
  margin-bottom: 20px;
  text-align: center;
  color: #1e293b;
}

.catalog-wrapper h1 i {
  margin-right: 10px;
  color: #3b82f6;
}

.catalog-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.catalog-item {
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.05);
  color: #334155;
  text-align: center;
}

.catalog-item h3 {
  margin-bottom: 10px;
  font-size: 18px;
}

.catalog-item p {
  margin: 6px 0;
  font-size: 15px;
  color: #475569;
}

.catalog-btn {
  margin-top: 12px;
  background-color: #3b82f6;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.catalog-btn:hover {
  background-color: #2563eb;
}


.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modal-box {
  background: #fff;
  padding: 30px;
  border-radius: 12px;
  max-width: 500px;
  width: 90%;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  position: relative;
}

.close-modal {
     background-color: #ef4444;
    color: white;
    padding: 0px 10px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 25px;
}

.close-modal:hover {
  background-color: #dc2626;
  transition: all 0.3s ease;
}

.book-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 20px;
}

.book-form input,
.book-form textarea {
  padding: 10px 14px;
  border: 1px solid #cbd5e1;
  border-radius: 8px;
  font-size: 15px;
  outline: none;
  transition: border-color 0.3s ease;
}

.book-form input:focus,
.book-form textarea:focus {
  border-color: #3b82f6;
}

.submit-btn {
  background-color: #10b981;
  color: white;
  padding: 12px 18px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-btn:hover {
  background-color: #059669;
}

.modal-box h2 {
  font-size: 22px;
  color: #1e293b;
  margin-bottom: 12px;
}